body {
    background-color: #5c5c5c;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.tit {
    color: bisque;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.div {
    width: 80vw; /* Imposta la larghezza al 80% della viewport width */
    max-width: 600px; /* Imposta una larghezza massima per evitare che il div diventi troppo grande */
    height: 300px; /* Imposta un'altezza fissa, puoi personalizzarla secondo le tue esigenze */
    background-color: rgb(78, 78, 78);
    border-radius: 15px; /* Adattato il bordo a metà dell'altezza */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#startButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 3px;
    
}
#nameInput {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 15px;
    border-radius: 30px;
}
#output {
    margin-top: 20px;
    font-size: 18px;
}
#copyButton {
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #2196F3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#fireworks {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}